ALWAYS_REBUILD_DOCKER_IMAGES=false
DIST_ZERO_ENV=test
DOCKER_BASE_URL=unix://var/run/docker.sock

# If true, use a higher performance asyncio loop.
# Using this loop can make debugging more difficult.
USE_UV_LOOP=true

# If true, encrypt every message between nodes.
ENCRYPT_ALL_MESSAGES=true

# AWS credentials for running in cloud mode
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY_ID=

# Other AWS settings for running in cloud mode
DEFAULT_AWS_REGION=
# Must use a security group that allows the ports that the dist_zero MachineController will listen on.
# see dist_zero/settings.py to check the current default ports.
DEFAULT_AWS_SECURITY_GROUP=
# This image has already been configured for running dist_zero
AWS_BASE_AMI='ami-016e5b338c0e9e93f'

# DEBUG
#MIN_LOG_LEVEL=10
# INFO
MIN_LOG_LEVEL=20
# WARNING
#MIN_LOG_LEVEL=30
# ERROR
#MIN_LOG_LEVEL=40

# For a local elk stack when running simulated tests.
#LOGSTASH_HOST=localhost
#LOGSTASH_PORT=5533

# For a local elk stack when running virtualized tests.
# You may want to map host.docker.internal to localhost in /etc/hosts so that these
# parameters work for both the simulated and virtualized tests.
#LOGSTASH_HOST=host.docker.internal # For getting docker containers to talk to localhost
#LOGSTASH_PORT=5533

# Basic auth username and password for the haproxy stats endpoints on each machine
HAPROXY_STATS_USERNAME=
HAPROXY_STATS_PASSWORD=

# For logz.io 
LOGSTASH_HOST=udp-listener-us.logz.io
LOGSTASH_PORT=5050
# logz.io tokens can be found at https://app.logz.io/#/dashboard/settings/general
LOGZ_IO_TOKEN=
