[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
paramiko = "*"
"boto3" = "*"
python-logstash-async = "*"
docker = "*"
python-json-logger = "*"
cryptography = "==2.3.1"
uvloop = "*"
pycapnp = {editable = true,git = "https://github.com/koreiklein/pycapnp.git",ref = "73d8cc81cce7847f63164d56116567ec76db7582"}

[dev-packages]
yapf = "*"
ipdb = "*"
pytest = "*"
sphinx = "*"
graphviz = "==0.9"
pytest-asyncio = "*"
matplotlib = "*"

[requires]
python_version = "3.6"
