[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
paramiko = "*"
"boto3" = "*"
python-logstash-async = "*"
docker = "*"
python-json-logger = "*"

[dev-packages]
yapf = "*"
ipdb = "*"
pytest = "*"
sphinx = "*"

[requires]
python_version = "3.6"
