ipdb==0.10.3
alabaster==0.7.10
babel==2.5.3
chardet==3.0.4
docutils==0.14
imagesize==1.0.0
requests==2.18.4
snowballstemmer==1.2.1
sphinx==1.7.2
sphinxcontrib-websupport==1.0.1
typing==3.6.4
urllib3==1.22
